<h2>List of movies</h2>
<ul style="list-style: none;">
  <li (click)="movieClicked(movie)"  *ngFor="let movie of movies" style="border: solid 2px black;display: flex; justify-content: space-evenly; flex-direction: row;" >
    <h3 >{{movie.id}}</h3>
    <h3 >{{movie.title}}</h3> <br>
    <!--<h3 >{{movie.year}}</h3> <br>
    <h3 >{{movie.desc}}</h3>-->
  </li>
</ul>

<hr>
Title<input type="text" [(ngModel)]="selectedMovie.title"><br>
Description<input type="text" [(ngModel)]="selectedMovie.desc"><br>
Year<input type="text" [(ngModel)]="selectedMovie.year"><br>
<button (click)="updateMovie()" *ngIf="selectedMovie.id!=-1" >PUT</button>
<button (click)="createMovie()" *ngIf="selectedMovie.id==-1" >POST</button>
<button (click)="deleteMovie()" *ngIf="selectedMovie.id!=-1" >Delete</button>